[program:{{ flaskapp_app_name }}]
command=pipenv run {{ command }}
directory={{ flaskapp_app_directory }}

user = {{ flaskapp_app_user }}

process_name=%(program_name)s-%(process_num)s

numprocs={{ numprocs }}

startretries=3
autostart=true
autorestart=true
stopwaitsecs = 60
redirect_stderr = True
environment=FLASK_APP={{ flask_app }},LC_ALL=C.UTF-8,LANG=C.UTF-8

{#todo rotate logs#}
stdout_logfile = {{ flaskapp_app_log_directory }}/{{ flaskapp_app_name }}.log
stderr_logfile = {{ flaskapp_app_log_directory }}/{{ flaskapp_app_name }}.error.log